.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-thermique {
    width: 200px;
    height: 200px;
}

.container-counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}